html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.1rem;
}

.carousel-item {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.new {
    @apply bg-red-500 text-white px-2 py-1 rounded text-xs;
}

.section ul li {
    @apply mb-2;
}

.section ul li strong {
    @apply text-blue-400;
}

.carousel-inner {
    position: relative;
    height: 400px;
}

.dot {
    transition: background-color 0.3s;
}

.carousel-control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #05aaec;
    border: 1px solid #3c3c3c;
    border-radius: 50%;
    color: #0c0c0c;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.carousel-control.prev {
    left: -50px;
}

.carousel-control.next {
    right: -50px;
}

.carousel-control {
    z-index: 20;
}

nav ul li a {
    font-size: 1.2rem;
}

section {
    padding-top: 30px;
    scroll-margin-top: 40px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.75rem;
}
.new {
    display: inline-block;
    position: relative;
    padding: 2px 6px;
    background: linear-gradient(
        120deg,
        #ff7a4d 0%,
        #cd5717 40%,
        #fff 50%,
        #ff7875 60%,
        #ff4d4f 100%
    );
    background-size: 200% auto;
    color: rgb(11, 10, 10);
    font-weight: bold;
    border-radius: 4px;
    animation: shimmer 2s linear infinite;
}

@keyframes shimmer {
    0% {
        background-position: 200% center;
    }
    100% {
        background-position: -200% center;
    }
}
